body {
    min-width: 80vh;
    margin-top: 40px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    text-align: center;
}

.choices {
    display: flex; 
    height: 400px;
}

button {
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    width: 400px;
    padding: 15px 25px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: slategray;
    border: none;
    border-radius: 15px;
    box-shadow: 0 20px #999;
    margin: 10px;
}

button:hover {
    background-color: black;
}

button:active {
  background-color: black;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
